<div id="container" data-opener-id="<%= params['CKEditorFuncNum'] %>">
  <div id="file-tree-container">
    <div id="file_tree"></div>
  </div>
  <div id="file-info-container">
    <div id="file_info"></div>
  </div>
</div>