/*
 *= require jqueryFileTree
*/

$border: 1px solid #BBBBBB;
$container-width: 300px;
$container-height: 400px;
$container-margin: 5px;
$file-tree-padding: 5px;
$file-path-height: 18px;
$file-info-horizontal-margin: 8px;
$file-info-label-width: 65px;
$file-info-label-margin: 4px;

#container {
  font-family: Verdana, sans-serif;
  font-size: 11px;
  line-height: 18px;
}
#file-tree-container, #file-info-container {
  border: $border;
  display: inline;
  float:left;
}
#file-tree-container {
  height: $container-height - ($file-tree-padding * 2);
  margin-right: $container-margin;
  overflow: auto;
  padding: $file-tree-padding;
  width: $container-width - ($file-tree-padding * 2);
}
#file-info-container {
  height: $container-height;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: $container-width;
}
#file_info {
  ul.jqueryFileTree {
    padding: 5px $file-info-horizontal-margin;
    li {
      clear: both;
      padding: 0;
      b {
        display: inline;
        float: left;
        text-align: right;
        width: $file-info-label-width;
      }
      span {
        display: inline;
        float: right;
        white-space: normal;
        width: $container-width - ($file-info-horizontal-margin * 2) - $file-info-label-width - $file-info-label-margin;
      }
      &#file-preview span {
        clear: both;
        display: block;
        float: none;
        text-align: center;
        width: auto;
        img {
          max-height: $container-height * 2;
          max-width: $container-width - ($file-info-horizontal-margin * 2);
          min-height: 5px;
          min-width: 5px;
        }
      }
    }
  }
}
